/*
 * this file should be shared by all JavaFX/ScalaFX applications (to get the same style everywhere)
 */

.label {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

/* #windows7-default { */
.button {
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

/* empty lines become "invisible" (they do not disappear though) */
.table-row-cell:empty {
    -fx-background-color: lightyellow;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

/* remove border radius on bar charts (ugly on a stacked-bar chart) */
.chart-bar {
	-fx-background-radius: 0, 0, 0, 0;
}