package fr.proline.cortex

import fr.proline.util.version.IVersion

class Version extends IVersion {

  override val getModuleName = "@moduleName@"

  override val getVersion = "@version@"

}
