<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <contextName>Proline-Cortex</contextName>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
     <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    
    <encoder>
      <pattern>%-5level: [%thread] +%-4relative ms  %date{dd MMM yyyy - HH:mm:ss.SSS} %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="RollingfileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
   	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
   
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/proline_cortex_log.%d{yyyy-MM-dd}.txt</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
   
    <encoder>
       TTCCLayout 
      <pattern>%date{dd MMM yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} %mdc - %msg%n</pattern>
    </encoder>

  </appender>
  
  <appender name="DebugRollingfileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <File>logs/proline_cortex_debug.txt</File>
        
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/proline_cortex_debug_.%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
       <maxFileSize>100MB</maxFileSize>    
       <maxHistory>30</maxHistory>
       <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>
         
    <encoder>
      <!-- TTCCLayout -->
      <pattern>%date{dd MMM yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} %mdc - %msg%n</pattern>
    </encoder>

  </appender>
  
  <appender name="mzDBRollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<append>true</append>
  	
 	  <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>logs/proline_mzdb_log.%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
      	<maxFileSize>50MB</maxFileSize> 
    </rollingPolicy>
    <encoder>
      <!-- TTCCLayout -->
      <pattern>%date{dd MMM yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
    
  </appender>


  <logger name="fr.profi.mzdb" additivity="false">
    <appender-ref ref="mzDBRollingAppender" />
  </logger>

  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="RollingfileAppender" />
    <appender-ref ref="DebugRollingfileAppender" />
  </root>

</configuration>
