package fr.proline.module.parser.omssa

import fr.profi.util.version.IVersion

class Version extends IVersion {

  override val getModuleName = "@moduleName@"

  override val getVersion = "@version@"

}
