package fr.proline.cortex.api

import fr.proline.util.version.IVersion

class ScalaVersion extends IVersion {

  override val getModuleName = "@moduleName@"

  override val getVersion = "@version@"

}
