<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <contextName>Proline-Cortex</contextName>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level: [%thread] +%-4relative ms  %date{dd MMM yyyy - HH:mm:ss.SSS} %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="RollingfileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/proline_cortex_log.%d{yyyy-MM-dd}.txt</fileNamePattern>
    </rollingPolicy>
    
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>50MB</maxFileSize>
    </triggeringPolicy>
    
    <encoder>
      <!-- TTCCLayout -->
      <pattern>%date{dd MMM yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} %mdc - %msg%n</pattern>
    </encoder>

  </appender>
  
  <appender name="mzDBRollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<append>true</append>
  	
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/proline_mzdb_log.%d{yyyy-MM-dd}.txt</fileNamePattern>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>50MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <!-- TTCCLayout -->
      <pattern>%date{dd MMM yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
    
  </appender>

  <logger name="fr.profi" level="debug" />
  <logger name="fr.proline" level="trace" />
  <logger name="fr.profi.mzdb" additivity="false">
    <appender-ref ref="mzDBRollingAppender" />
  </logger>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="RollingfileAppender" />
  </root>

</configuration>
