package fr.proline.module.parser.mascot

import  fr.profi.util.version.IVersion

class ScalaVersion extends IVersion {

  override val getModuleName = "@moduleName@"

  override val getVersion = "@version@"

}
